<div class="news">
    <h2>services and events</h2>
    <ul>
        <li><b>Reviewer:</b>
        <ul>
            <li>Eurocrypt 2025 (Artifact evaluation)</li>
            <li>PKC 2025 (external reviewer)</li>
            <li>Usenix Security 2023 (Artifact evaluation)</li>
        </ul>
        </li>
        <li><b>Events:</b> Real World Crypto 2022 (author but not speaker), Workshop on Attacks in Cryptography (WAC) 2021 (speaker)</li>
        <li><b>Hackathon:</b> REDOCS 2021 (Privacy in IoT devices)</li>
    </ul>
</div>